@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.coverApp {
    background-image: url("../media/fon.png");
    background-size: 100%;
}

.articleBackground {
    background-image: url("../media/004_1.png");
}

.footerBackground {
    background-color: #00838f;
}

.logo {
    width: 200px;
}

.cursorPointer {
    cursor: pointer;
}


.loginFormSell {
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 956;
    opacity: 0.7;
}

.loginForm {
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: white;
    text-align: center;
    z-index: 957;
    /*opacity: 1;*/
    width: 780px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*коррекция цветов кнопок */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #F57F17;
    border-color: #F57F17;
}
.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus {
    background-color: #E91E63;
    border-color: #E91E63;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #00CCB9;
    border-color: #00CCB9;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited,
.btn-warning:focus {
    background-color: #7986CB;
    border-color: #7986CB;
}
.btn-outline-dark,
.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:visited,
.btn-outline-dark:focus {
    background-color: #00838F;
    border-color: #00838F;
}

.container-fluid {
    max-width: 1300px;
}

.textArticle {
    font-size: 12pt;
    font-family: Roboto, serif;
    color: white;
}

h1 {
    color: white;
    font-size: 20pt;
}

@include media-breakpoint-between(xs,sm){
    .btn {
    @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
    }
}