@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.coverApp {
    background-image: url("../media/fon.png");
    background-size: 100%;
}

.container-fluid {
    max-width: 1250px;
}